*{
	box-sizing:border-box;
}
html{
	width: fit-content;
}
body{
	background-color: lightseagreen;
	margin: 4px
}
.title{
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	margin-top: 100px;
	height: 89px;
	line-height: 30px;
}
.title h1{
	font-size: 20px;

}
.circle h1{
	font-size: 45px;
}


.outerCont{
width: fit-content;
height: fit-content;
left: 0;
right: 0;
margin: auto;
margin-top: 100px;
}
.gridContainer{
	display: grid;
	gap:10px;
	position: relative;
	grid-template-columns: 200px 200px ;
	z-index: 0;
	background-color: black;
	border-radius: 130px;
}
.gridItem{
	border: 6px solid black;
	height: 200px;
	width: 200px;
	background-color: white;
	opacity: 0.7;
	transition: opacity 500ms;
}
.gridItem:hover{
	border: 3px white solid;
}
.item1{
	border-top-left-radius: 130px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: red;
}
.item2{
	border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 130px;
    background-color: greenyellow;
}
.item4{
    border-bottom-left-radius: 130px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
	background-color: deepskyblue;
}
.item3{
	border-bottom-right-radius: 130px;
	    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
	background-color: yellow;
}
.item5{
	border-radius: 50%;
	height: 8px;
	width: 8px;
	position: relative;
	grid-column-start: 1;
	grid-column-end: 2;
}
.flash{
	opacity: 1;
}
.circle{
	position: relative;
	display: grid;
	z-index: 1;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	background-color:  black;
	margin: auto;
    bottom: 285px;
    align-content: center;
}
.circle h3{
	margin: auto;
    text-align: center;
    color: aliceblue;
    font-size: 2rem;
    font-family: 'Monoton', cursive;
    /*font-family: 'Press Start 2P', cursive;*/

}
.circle p{
	margin: auto;
    text-align: center;
    color: aliceblue;
    font-family: 'Press Start 2P', cursive;
    line-height: 13px;
}
.circle h1{
	margin: auto;
    text-align: center;
    color: aliceblue;
    font-family: 'Press Start 2P', cursive;
    line-height: 13px;
    font-size: 45px;
}

.fa.fa-refresh{
	display: block;
	height: 100%;
	color:white;
	font-size: 40px;
	margin: auto;
}
.levelup{
	font-size: 13px;
}
@media(min-width:500px){
	#instruction1{
		display: block;

	}
	#instruction2{
		display: none;
	}

	html{
		width: 100%;
	}
}
@media(max-width:500px ){
	#instruction1{
		display: none;

	}
	#instruction2{
		display: block;
	}
	html{
		width: fit-content;
   		 margin: auto;
	}
	.title{
		
		margin-top: 70px;
		

	}
	.gridContainer {
   		 grid-template-columns: 160px 160px;
 	 }
	.gridItem {
		height: 160px;
		width: 160px;
	}
	.circle{
		height: 150px;
		width: 150px;
		bottom:244px;
	}
	.outerCont{
		margin-top:152px;
	}
}